<div id="persona">
<div class="container">
    <div class="row">
      <strong>
        <div class="box4">

          <div class="col">PERSONA<BR>
            <div class="dateOfBirth">06/06/1960</div>
            <div class="aboutMe">Ingeniero en Sistemas"</div>
            <div class="mail">jorgesaal@gmail.com</div>
            <div class="backImage"> </div>
            <div class="image"></div>
            <div class="position">informatico</div>
            <div class="ubication">Buenos Aires Argentina </div>
          </div>
        </div>
      </strong>
    </div>
  </div>
</div>
