<div id="proyecto">
<div class="container">
    <div class="row">
      <strong>

        <div class="box4">
          <div class="col">PROYECTOS<BR>
            <div class="name ">Portfolio Web FulStack </div>
            <div class="mesInicio">mayo </div>
            <div class="AñoInicio">2022 </div>
            <div class="mesFin">agosto</div>
            <div class="AñoFin">2022</div>
            <div class="url"></div>
            <div class="Descripcion">Proyecto trabajando en desarrollo Full Stack</div>
          </div>
        </div>
      </strong>
    </div>
  </div>
</div>
