<div id="encabezado">
  <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Jorge Luis Saal</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-instagram fa-2x"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light">
            <i class="grey-text fab fa-twitter fa-2x"></i>
          </a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>

      </form>
    </div>
  </nav>
</div>






  <div class="container">
    <div class="row">
      <div class="col">
        <div class="logo-image-container"><img [src]="miPorfolio.backimage" id="encabimg" class="logo-image" ></div>
        
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <img [src]="miPorfolio.foto" id="fotoimg" class="logo-image" >
      
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">

        <H5>Jorge Luis Saal</H5>
      </div>
    </div>
  </div>

<!-- <div class="container">
    <div class="row">
      <div class="col">
      
      <div id="info-actions">
        <button type="button" class="btn btn-primary">Tengo interés en</button>
        <button type="button" class="btn btn-light">Añadir Sección</button>
        <button type="button" class="btn btn-light">Más</button>
      </div>
      </div>
    </div>
  </div> -->