<div class="container">
  <div id="experiencia">
    <h2>Experiencia</h2>


    <div>
      <ul class="items-list" id="expList">
        <li *ngFor="let exper of experienciaList">
          <div class="posicion">{{exper.posicion}}</div>
          <div class="company">{{exper.company}}</div>
          <div class="img"></div>
          <div class="mode">{{exper.mode}}</div>
          <div class="start">{{exper.start}}</div>
          <div class="end">{{exper.end}}</div>
          <div class="timeElapsed">{{exper.timeElapsed}}</div>
          <div class="Place">{{exper.Place}}</div>
        </li>
      </ul>
    </div>
  </div>


</div>
